process {
    withLabel:process_high {
        cpus   = 12
        memory = 36.GB
        time   = 16.h
    }
    withName: 'FASTP' {
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 30 --qualified_quality_phred 30 --unqualified_percent_limit 10 --length_required 50'
    }
    withName: 'CUTADAPT' {
        ext.args = '--overlap 5 --minimum-length 30 --error-rate 0.1 -a ^CCAGCACTGACAGCAGYNGARAYNGG...ATGTWYRTNCCNCCAGGTGGTCCAGTA -A TACTGGACCACCTGGNGGNAYRWACAT...CCNRTYTCNRCTGCTGTCAGTGCTGG'
    }         
}

params {
    genomes {
        'J02281.1' {
            fasta = '/scratch/enterovirus/reference/J02281.1.fasta.gz'
            gff = '/scratch/enterovirus/reference/J02281.1.gff.gz'
            primer_sets {
                entero {                
                    '1' {
                        fasta = '/scratch/enterovirus/reference/J02281.1.fasta.gz'
                        gff = '/scratch/enterovirus/reference/J02281.1.gff.gz'
                        primer_bed = '/scratch/enterovirus/reference/enterovirus.scheme.bed.gz'
                        scheme = 'enterovirus'
                    }
                }
            }
        }
    }
}
                    
