process {
    withLabel:process_high {
        cpus   = 12
        memory = 36.GB
        time   = 16.h
    }
    withName: 'FASTP' {
        ext.args = '--cut_front --cut_tail --trim_poly_x --cut_mean_quality 20 --qualified_quality_phred 20 --unqualified_percent_limit 10 --length_required 50'
    }
}


